<%
   fields = [
       [:matriculation_number, "Matrikelnummer", "text_field"],
       [:first_name, "Vorname", "text_field"],
       [:last_name, "Nachname", "text_field"],
#       [:birthday, "Geburtsdatum", "date_select"],
       [:place_of_birth, "Geburtsort", "text_field"],
       [:study_course, "Studiengang", "text_field"],
       [:nationality, "Nationalität", "text_field"]
   ]

   fields << [:current_term, "Aktuelles Semester", "text_field"] if action_name != "new"

   fields += [
       [:street, "Straße", "text_field"],
       [:house_number, "Nummer", "text_field"],
       [:zip_code, "PLZ", "text_field"],
       [:city, "Ort", "text_field"]
   ]

   fields.each do |field, label, input|
%>
  <div class="form_row">
    <%= f.label field, raw("&raquo; #{label}") %><%= f.send(input.to_sym, field) %>
  </div>
<% end %>