<% content_for :head do %>
  <style type="text/css">
    .label_like { width: 100% !important }
  </style>
<% end %>

<h2><%= @student.last_name %>, <%= @student.first_name %></h2>

<div style="padding-left: 20px;">
  <% @student.courses.each do |c| %>
    <div class="key_value_row">
      <span class="label_like">&raquo; <%= c.title %></span>
    </div>
  <% end %>
</div>