<%= render :partial => "header" %>

<%= will_paginate @students %>
<table width="100%" cellpadding="0" cellspacing="2" border="1">
  <tr>
    <th>Matrikelnummer</th>
    <th>Nachname</th>
    <th>Vorname</th>
    <th>Aktuelles Semester</th>
    <th>Optionen</th>
  </tr>
  <%= render :partial => :student, :collection => @students %>
</table>
<%= will_paginate @students %>