<h2>Links:</h2>
<ul>
  <li><%= link_to "Studenten anzeigen", :controller => :students, :action => :index %></li>
  <li><%= link_to "Student anlegen", :controller => :students, :action => :new %></li>
</ul>
