<h2>Studenten-Links:</h2>
<ul>
  <li><%= link_to "Studenten anzeigen", :controller => :students, :action => :index %></li>
  <li><%= link_to "Student anlegen", :controller => :students, :action => :new %></li>
</ul>

<br/><br/><h2>Kurs-Links:</h2>
<ul>
  <li><%= link_to "Kurse anzeigen", :controller => :courses, :action => :index %></li>
  <li><%= link_to "Kurs anlegen", :controller => :courses, :action => :new %></li>
</ul>
