<!DOCTYPE html>
<html>
  <head>
    <title>StudiDb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag :all %>
    <link rel="stylesheet" type="text/css" href="ext/resources/css/ext-all.css">
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>